body
{
  color: white;
  background: #c0d3ff;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#resultGestureName, #resultGestureName2 
{
  color: black;
}
.gestureName
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}

/* Adicionar a class heading com font-size; 
border-radius; letter-spacing */


/* Adicionar a tag label com font-size; color;
padding; border-radius; background-color */